
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table table-bordered">
    <tr>
        <td>
            Name
        </td>
        <td>ID</td>
        <td>City</td>
    </tr>
    <tr>
        <td>
            Shaheen
        </td>
        <td>1</td>
        <td>Dhaka</td>
    </tr>
    <tr>
        <td>
            Nur
        </td>
        <td>2</td>
        <td>Tangail</td>
    </tr>
</table>

