
@{
    ViewBag.Title = "experience";
}



<div class="section" id="experience">
    <div class="container cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header">
                        <p>jan 2019 - Present</p>
                        <div class="h5">American International University-Bangladesh.</div>
                    </div>
                </div>
                <br />
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Grade </div>
                        <p>GPA : 3.55</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header">
                        <p>HSC - 2017</p>
                        <div class="h5">Adamjee Cantonment College, Dhaka Cantonment.</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">HSC </div>
                        <p>CGPA : 5.00</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-experience-header">
                        <p>SSC - 2015</p>
                        <div class="h5">Polices Lines Adarsha High School, Tangail.</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">SSC</div>
                        
                        
                        <p>CGPA : 5.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

